<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a Property</title>
  </head>
  <body>
    <h1>Complete the form below to add a new property</h1>

    <form class="" action="/property/create" method="post">
      <label>Title:</label>
      <input type="text" name="Title"><br>
      <label>Description:</label>
      <input type="text" name="description"><br>
      <label>Price</label>
      <input type="text" name="price"><br>
      <label>City:</label>
      <input type="text" name="city"><br>
      <label>Guests:</label>
      <input type="text" name="guests">
      <label>Bedrooms:</label>
      <input type="text" name="bedrooms">
      <label>Beds:</label>
      <input type="text" name="beds">
      <label>Bathrooms:</label>
      <input type="text" name="bathrooms"><br>
      <br>
      <label>Photo url:</label>
      <input type="text" name="photo_url">
      <label>Date from:</label>
      <input type="date" name="date_from">
      <label>Date to:</label>
      <input type="date" name="date_to"><br>
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
