"Makers BNB"

<% @properties.each do |property| %>
<hr>
  <%= property.description %>
  <form action="/property/<%= property.id %>" method="get">
    <input type="submit" name="view-property-<%=property.id%>" value="View Property">
  </form>
<% end %>
