"Makers BNB"

<% @properties.each do |property| %>
<hr>
  <%= property.name %>
  <br>
  <%= property.description %>
  <form action="/spaces/<%= property.id %>" method="get">
    <input type="submit" name="view-space-<%=property.id%>" value="View Space">
  </form>


<% end %>
