.sign-in {
  text-align: center;
}

.sign-in input[type="text"] {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-in input[type="password"] {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sign-in .btn-block {
  width: 195px;
  margin: auto;
}

.sign-up {
  text-align: center;
}

.sign-up input[type="text"] {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up input[type="email"] {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up input[type="password"] {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sign-up .btn-block {
  width: 195px;
  margin: auto;
  background-color: red;
  border-color: red;
}