<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Please enter your details below:</p>

    <form class="user-details" action="user/create" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="email@website.com">
      <input type="text" name="phone_number" placeholder="Phone Number">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
