<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <p>Log In:</p>
    <form class="existing-user" action="/user/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Submit">
    </form>

    <p><%= flash[:message] %></p>

    <p>Sign Up:</p>
    <form class="user-details" action="/user/create" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="email" name="email" placeholder="email@website.com">
      <input type="text" name="phone_number" placeholder="Phone Number">
      <input type="submit" value="Submit">
    </form>

    
  </body>
</html>
