<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Booking Request has been Submitted</h1>
    <p>Your booking request has been sent to the host for approval.
    You will be notified of their response.</p>
    <br>
    <form action="/">
      <input type="submit" value="Go to Homepage">
    </form>
    <form action="/user/details">
      <input type="submit" value="Go to User Details Page">
    </form>

  </body>
</html>
